body {
  margin: 0;
  font-family: 'Padauk', 'Myanmar Text', 'Pyidaungsu', 'Laila', serif; /* Myanmar font support */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  color: #f0e6d2;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
